<nav class="navbar navbar-expand-lg navbar-dark bg-indigo-500 fixed-top">
  <div class="container">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">Deed App</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">List</a>
      </li>
	  <li class="nav-item" routerLinkActive="active"> 
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" [routerLink]="['/deed/add']">Add a new Deed</a>
		</li>
    </ul>

    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon style="color:white">account_circle</md-icon>
    </button>
    <md-menu #menu="mdMenu" xPosition="before" [overlapTrigger]="false">
      <button md-menu-item>
        <md-icon>person_outline</md-icon>
        <span>Edit Profile</span>
      </button>
      <button md-menu-item (click)="auth.logout()">
        <md-icon>power_settings_new</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </div>
  </div>
  
</nav>