<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Deed App</span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/deed/add']">Create</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/list']">List</a>
      </li>
	    <li class="nav-item" routerLinkActive="active"> 
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
    </ul>
    <span class="spacer"></span>
    <button mat-icon-button (click)="auth.logout()">
      <mat-icon class="nav-icon md-24" aria-label="Logout">power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>