.navbar {
	background-color: #3F51B5;
}

button:focus, button:active {
	outline: none !important;
}

.logout-menu {
	color: #3F51B5;
}


.nav-icon {
	padding: 0 14px;
}
  
.spacer {
	flex: 1 1 auto;
}