<h1 class="page-header">Latest Deeds saved in the database</h1>
<div class="deeds">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>DeedCode</th>
          <th>DeedRef</th>
          <th>DeedDate</th>
          <th>DeedName</th>
          <th>DeedLanguage</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let deed of deeds'>
          <td>{{ deed.deedCode }}</td>
          <td>{{ deed.deedRef }}</td>
          <td>{{ deed.deedDate }}</td>
          <td>{{ deed.deedName }}</td>
          <td>{{ deed.deedLanguage }}</td>
          <td>
            <a routerLink="/deed/{{ deed._id }}" class="btn btn-primary">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>