<div *ngIf="deed">
    <div class="pull-right">
        <a routerLink="/deed/edit/{{ deed._id }}" class="btn btn-default">Edit</a>
        <a href="#" (click)="onDeleteClick(deed._id)" class="btn btn-danger">Delete</a>
    </div>
    <h1 class="page-header">Deed N° : {{ deed.deedCode }} {{ deed.deedRef }}</h1>
    <div *ngIf="deed.incomplete" class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-alert"></i> The deed is incomplete</div>
    <h2>Deed References</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Deed Code: </strong>{{ deed.deedCode }}</li>
        <li class="list-group-item"><strong>Deed Ref: </strong>{{ deed.deedRef }}</li>
        <li *ngIf="deed.deedName" class="list-group-item"><strong>Deed Name: </strong>{{ deed.deedName }}</li>
        <li *ngIf="deed.deedLanguage" class="list-group-item"><strong>Deed Language: </strong>{{ deed.deedLanguage }}</li>
    </ul>
    <h2>Contracting Parties</h2>
    <h3 *ngIf="deed.agentSex">Agent</h3>
    <ul class="list-group">
        <li *ngIf="deed.agentSex" class="list-group-item"><strong>Agent Gender: </strong>{{ deed.agentSex }}</li>
        <div [ngSwitch]="deed.agentSex">
            <div *ngSwitchCase="'M'">
                <li *ngIf="deed.agent.geogrStatus" class="list-group-item"><strong>Agent Geogr Status: </strong>{{ deed.agent.geogrStatus }}</li>
                <li *ngIf="deed.agent.socialStatus" class="list-group-item"><strong>Agent Social Status: </strong>{{ deed.agent.socialStatus }}</li>
                <li *ngIf="deed.agent.firstName" class="list-group-item"><strong>Agent First Name: </strong>{{ deed.agent.firstName }}</li>
                <li *ngIf="deed.agent.patronyme" class="list-group-item"><strong>Agent Patronyme: </strong>{{ deed.agent.patronyme }}</li>
                <li *ngIf="deed.agent.lastName" class="list-group-item"><strong>Agent Last Name: </strong>{{ deed.agent.lastName }}</li>
                <li *ngIf="deed.agent.relatedTo" class="list-group-item"><strong>Agent Related To: </strong>{{ deed.agent.relatedTo }}</li>
            </div>
            <div *ngSwitchCase="'F'">
                <li *ngIf="deed.agent.familyStatus" class="list-group-item"><strong>Agent Family Status: </strong>{{ deed.agent.familyStatus }}</li>
                <li *ngIf="deed.agent.firstName" class="list-group-item"><strong>Agent First Name: </strong>{{ deed.agent.firstName }}</li>
                <li *ngIf="deed.agent.patronyme" class="list-group-item"><strong>Agent Patronyme: </strong>{{ deed.agent.patronyme }}</li>
                <li *ngIf="deed.agent.relatedTo" class="list-group-item"><strong>Agent Related To: </strong>{{ deed.agent.relatedTo }}</li>
                <h4 *ngIf="deed.agent.referentMale">Referent Male of Agent</h4>
                <ul class="list-group">
                    <li *ngIf="deed.agent.referentMale.relationshipToAgent" class="list-group-item"><strong>Relationship To Agent: </strong>{{ deed.agent.referentMale.relationshipToAgent }}</li>
                    <li *ngIf="deed.agent.referentMale.geogrStatus" class="list-group-item"><strong>Referent Male Geogr Status: </strong>{{ deed.agent.referentMale.geogrStatus }}</li>
                    <li *ngIf="deed.agent.referentMale.socialStatus" class="list-group-item"><strong>Referent Male Social Status: </strong>{{ deed.agent.referentMale.socialStatus }}</li>
                    <li *ngIf="deed.agent.referentMale.firstName" class="list-group-item"><strong>Referent Male First Name: </strong>{{ deed.agent.referentMale.firstName }}</li>
                    <li *ngIf="deed.agent.referentMale.patronyme" class="list-group-item"><strong>Referent Male Patronyme: </strong>{{ deed.agent.referentMale.patronyme }}</li>
                    <li *ngIf="deed.agent.referentMale.lastName" class="list-group-item"><strong>Referent Male Last Name: </strong>{{ deed.agent.referentMale.lastName }}</li>
                    <li *ngIf="deed.agent.referentMale.relatedTo" class="list-group-item"><strong>Referent Male Related To: </strong>{{ deed.agent.referentMale.relatedTo }}</li>
                </ul>
            </div>
        </div>
    </ul>
    <h3 *ngIf="deed.counterAgentSex">Counter Agent</h3>
    <ul class="list-group">
        <li *ngIf="deed.counterAgentSex" class="list-group-item"><strong>Counter Agent Gender: </strong>{{ deed.counterAgentSex }}</li>
        <div [ngSwitch]="deed.counterAgentSex">
            <div *ngSwitchCase="'M'">
                <li *ngIf="deed.counterAgent.geogrStatus" class="list-group-item"><strong>Counter Agent Geogr Status: </strong>{{ deed.counterAgent.geogrStatus }}</li>
                <li *ngIf="deed.counterAgent.socialStatus" class="list-group-item"><strong>Counter Agent Social Status: </strong>{{ deed.counterAgent.socialStatus }}</li>
                <li *ngIf="deed.counterAgent.firstName" class="list-group-item"><strong>Counter Agent First Name: </strong>{{ deed.counterAgent.firstName }}</li>
                <li *ngIf="deed.counterAgent.patronyme" class="list-group-item"><strong>Counter Agent Patronyme: </strong>{{ deed.counterAgent.patronyme }}</li>
                <li *ngIf="deed.counterAgent.lastName" class="list-group-item"><strong>Counter Agent Last Name: </strong>{{ deed.counterAgent.lastName }}</li>
                <li *ngIf="deed.counterAgent.relatedTo" class="list-group-item"><strong>Counter Agent Related To: </strong>{{ deed.counterAgent.relatedTo }}</li>
            </div>
            <div *ngSwitchCase="'F'">
                <li *ngIf="deed.counterAgent.familyStatus" class="list-group-item"><strong>Counter Agent Family Status: </strong>{{ deed.counterAgent.familyStatus }}</li>
                <li *ngIf="deed.counterAgent.firstName" class="list-group-item"><strong>Counter Agent First Name: </strong>{{ deed.counterAgent.firstName }}</li>
                <li *ngIf="deed.counterAgent.patronyme" class="list-group-item"><strong>Counter Agent Patronyme: </strong>{{ deed.counterAgent.patronyme }}</li>
                <li *ngIf="deed.counterAgent.relatedTo" class="list-group-item"><strong>Counter Agent Related To: </strong>{{ deed.counterAgent.relatedTo }}</li>
                <h4 *ngIf="deed.counterAgent.referentMale">Referent Male of Counter Agent</h4>
                <ul class="list-group">
                    <li *ngIf="deed.counterAgent.referentMale.relationshipToAgent" class="list-group-item"><strong>Relationship To Agent: </strong>{{ deed.counterAgent.referentMale.relationshipToAgentSexF }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.geogrStatus" class="list-group-item"><strong>Referent Male Geogr Status: </strong>{{ deed.counterAgent.referentMale.geogrStatus }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.socialStatus" class="list-group-item"><strong>Referent Male Social Status: </strong>{{ deed.counterAgent.referentMale.socialStatus }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.firstName" class="list-group-item"><strong>Referent Male First Name: </strong>{{ deed.counterAgent.referentMale.firstName }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.patronyme" class="list-group-item"><strong>Referent Male Patronyme: </strong>{{ deed.counterAgent.referentMale.patronyme }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.lastName" class="list-group-item"><strong>Referent Male Last Name: </strong>{{ deed.counterAgent.referentMale.lastName }}</li>
                    <li *ngIf="deed.counterAgent.referentMale.relatedTo" class="list-group-item"><strong>Referent Male Related To: </strong>{{ deed.counterAgent.referentMale.relatedTo }}</li>
                </ul>
            </div>
        </div>
    </ul>
    <div *ngIf="deed.coAgents.length > 0">
        <h3>Co Agents</h3>
        <ng-template ngFor let-coAgent [ngForOf]="deed.coAgents" let-i="index">
            <h4>Co-Agent {{ i + 1 }}</h4>
            <ul class="list-group">
                <li class="list-group-item"><strong>Co-Agent {{ i + 1 }} Gender: </strong>{{ coAgent.coAgentSex }}</li>
                <div [ngSwitch]="getCoAgentSex(i)">
                    <div *ngSwitchCase="'M'">
                        <li *ngIf="coAgent.coAgent.geogrStatus" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Geogr Status: </strong>{{ coAgent.coAgent.geogrStatus }}</li>
                        <li *ngIf="coAgent.coAgent.socialStatus" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Social Status: </strong>{{ coAgent.coAgent.socialStatus }}</li>
                        <li *ngIf="coAgent.coAgent.firstName" class="list-group-item"><strong>Co-Agent {{ i + 1 }} First Name: </strong>{{ coAgent.coAgent.firstName }}</li>
                        <li *ngIf="coAgent.coAgent.patronyme" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Patronyme: </strong>{{ coAgent.coAgent.patronyme }}</li>
                        <li *ngIf="coAgent.coAgent.lastName" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Last Name: </strong>{{ coAgent.coAgent.lastName }}</li>
                        <li *ngIf="coAgent.coAgent.relatedTo" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Related To: </strong>{{ coAgent.coAgent.relatedTo }}</li>
                    </div>
                    <div *ngSwitchCase="'F'">
                        <li *ngIf="coAgent.coAgent.familyStatus" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Family Status: </strong>{{ coAgent.coAgent.familyStatus }}</li>
                        <li *ngIf="coAgent.coAgent.firstName" class="list-group-item"><strong>Co-Agent {{ i + 1 }} First Name: </strong>{{ coAgent.coAgent.firstName }}</li>
                        <li *ngIf="coAgent.coAgent.patronyme" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Patronyme: </strong>{{ coAgent.coAgent.patronyme }}</li>
                        <li *ngIf="coAgent.coAgent.relatedTo" class="list-group-item"><strong>Co-Agent {{ i + 1 }} Related To: </strong>{{ coAgent.coAgent.relatedTo }}</li>
                        <h5 *ngIf="coAgent.coAgent.referentMale">Referent Male of Co-Agent {{ i+1 }}</h5>
                        <ul class="list-group">
                            <li *ngIf="coAgent.coAgent.referentMale.relationshipToCoAgent" class="list-group-item"><strong>Relationship To Co-Agent {{ i + 1 }}: </strong>{{ coAgent.coAgent.referentMale.relationshipToCoAgent }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.geogrStatus" class="list-group-item"><strong>Referent Male Geogr Status: </strong>{{ coAgent.coAgent.referentMale.geogrStatus }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.socialStatus" class="list-group-item"><strong>Referent Male Social Status: </strong>{{ coAgent.coAgent.referentMale.socialStatus }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.firstName" class="list-group-item"><strong>Referent Male First Name: </strong>{{ coAgent.coAgent.referentMale.firstName }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.patronyme" class="list-group-item"><strong>Referent Male Patronyme: </strong>{{ coAgent.coAgent.referentMale.patronyme }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.lastName" class="list-group-item"><strong>Referent Male Last Name: </strong>{{ coAgent.coAgent.referentMale.lastName }}</li>
                            <li *ngIf="coAgent.coAgent.referentMale.relatedTo" class="list-group-item"><strong>Referent Male Related To: </strong>{{ coAgent.coAgent.referentMale.relatedTo }}</li>
                        </ul>
                    </div>
                </div>
            </ul>
        </ng-template>
    </div>
    <div *ngIf="deed.coCounterAgents.length > 0">
        <h3>Co-Counter Agents</h3>
        <ng-template ngFor let-coCounterAgent [ngForOf]="deed.coCounterAgents" let-i="index">
            <h4>Co-Counter Agent {{ i + 1 }}</h4>
            <ul class="list-group">
                <li class="list-group-item"><strong>Co-Agent {{ i + 1 }} Gender: </strong>{{ coCounterAgent.coCounterAgentSex }}</li>
                <div [ngSwitch]="getCoCounterAgentSex(i)">
                    <div *ngSwitchCase="'M'">
                        <li *ngIf="coCounterAgent.coCounterAgent.geogrStatus" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Geogr Status: </strong>{{ coCounterAgent.coCounterAgent.geogrStatus }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.socialStatus" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Social Status: </strong>{{ coCounterAgent.coCounterAgent.socialStatus }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.firstName" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} First Name: </strong>{{ coCounterAgent.coCounterAgent.firstName }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.patronyme" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Patronyme: </strong>{{ coCounterAgent.coCounterAgent.patronyme }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.lastName" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Last Name: </strong>{{ coCounterAgent.coCounterAgent.lastName }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.relatedTo" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Related To: </strong>{{ coCounterAgent.coCounterAgent.relatedTo }}</li>
                    </div>
                    <div *ngSwitchCase="'F'">
                        <li *ngIf="coCounterAgent.coCounterAgent.familyStatus" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Family Status: </strong>{{ coCounterAgent.coCounterAgent.familyStatus }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.firstName" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} First Name: </strong>{{ coCounterAgent.coCounterAgent.firstName }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.patronyme" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Patronyme: </strong>{{ coCounterAgent.coCounterAgent.patronyme }}</li>
                        <li *ngIf="coCounterAgent.coCounterAgent.relatedTo" class="list-group-item"><strong>Co-Counter Agent {{ i + 1 }} Related To: </strong>{{ coCounterAgent.coCounterAgent.relatedTo }}</li>
                        <h5>Referent Male of Co-Agent {{ i+1 }}</h5>
                        <ul class="list-group">
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.relationshipToCoCounterAgent" class="list-group-item"><strong>Relationship To Co-Counter Agent {{ i + 1 }}: </strong>{{ coCounterAgent.coCounterAgent.referentMale.relationshipToCoCounterAgent }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.geogrStatus" class="list-group-item"><strong>Referent Male Geogr Status: </strong>{{ coCounterAgent.coCounterAgent.referentMale.geogrStatus }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.socialStatus" class="list-group-item"><strong>Referent Male Social Status: </strong>{{ coCounterAgent.coCounterAgent.referentMale.socialStatus }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.firstName" class="list-group-item"><strong>Referent Male First Name: </strong>{{ coCounterAgent.coCounterAgent.referentMale.firstName }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.patronyme" class="list-group-item"><strong>Referent Male Patronyme: </strong>{{ coCounterAgent.coCounterAgent.referentMale.patronyme }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.lastName" class="list-group-item"><strong>Referent Male Last Name: </strong>{{ coCounterAgent.coCounterAgent.referentMale.lastName }}</li>
                            <li *ngIf="coCounterAgent.coCounterAgent.referentMale.relatedTo" class="list-group-item"><strong>Referent Male Related To: </strong>{{ coCounterAgent.coCounterAgent.referentMale.relatedTo }}</li>
                        </ul>
                    </div>
                </div>
            </ul>
        </ng-template>
    </div>
    <h2>Transactions</h2>
    <ng-template ngFor let-transaction [ngForOf]="deed.transactions" let-i="index">
        <h3>Transaction {{ i + 1 }}</h3>
        <ul class="list-group">
            <li class="list-group-item"><strong>Transaction: </strong>{{ transaction.transaction }}</li>
            <div *ngIf="transaction.agentTransactionType">
                <li class="list-group-item"><strong>Agent Transaction Object Type: </strong>{{ transaction.agentTransactionType }}</li>
                <div [ngSwitch]="getAgentTransactionObjectType(i)">
                    <div *ngSwitchCase="'money'">
                        <li *ngIf="transaction.agentTransactionObject.money.rouble" class="list-group-item"><strong>Rouble: </strong>{{ transaction.agentTransactionObject.money.rouble }}</li>
                        <li *ngIf="transaction.agentTransactionObject.money.altyn" class="list-group-item"><strong>Altyn: </strong>{{ transaction.agentTransactionObject.money.altyn }}</li>
                        <li *ngIf="transaction.agentTransactionObject.money.dynga" class="list-group-item"><strong>Dynga: </strong>{{ transaction.agentTransactionObject.money.dynga }}</li>
                        <li *ngIf="transaction.agentTransactionObject.money.chekhi" class="list-group-item"><strong>Chekhi: </strong>{{ transaction.agentTransactionObject.money.chekhi }}</li>
                    </div>
                    <div *ngSwitchCase="'land'">
                        <li *ngIf="transaction.agentTransactionObject.land.juridicalStatus" class="list-group-item"><strong>Juridical Status: </strong>{{ transaction.agentTransactionObject.land.juridicalStatus }}</li>
                        <li *ngIf="transaction.agentTransactionObject.land.localisation" class="list-group-item"><strong>Localisation: </strong>{{ transaction.agentTransactionObject.land.localisation }}</li>
                        <li *ngIf="transaction.agentTransactionObject.land.surface" class="list-group-item"><strong>Surface: </strong>
                            <ul class="list-group">
                                <li *ngIf="transaction.agentTransactionObject.land.surface.cheti" class="list-group-item"><strong>Cheti: </strong>{{ transaction.agentTransactionObject.land.surface.cheti }}</li>
                                <li *ngIf="transaction.agentTransactionObject.land.surface.sazheni" class="list-group-item"><strong>Sazheni: </strong>{{ transaction.agentTransactionObject.land.surface.sazheni }}</li>
                                <li *ngIf="transaction.agentTransactionObject.land.surface.arshin" class="list-group-item"><strong>Arshin: </strong>{{ transaction.agentTransactionObject.land.surface.arshin }}</li>
                            </ul>
                        </li>
                        <li *ngIf="transaction.agentTransactionObject.land.population" class="list-group-item"><strong>Population: </strong>{{ transaction.agentTransactionObject.land.population }}</li>
                        <li *ngIf="transaction.agentTransactionObject.land.construction" class="list-group-item"><strong>Construction: </strong>{{ transaction.agentTransactionObject.land.construction }}</li>
                        <li *ngIf="transaction.agentTransactionObject.land.dependencies" class="list-group-item"><strong>Dependencies: </strong>{{ transaction.agentTransactionObject.land.dependencies }}</li>
                    </div>
                    <div *ngSwitchCase="'building'">
                        <li *ngIf="transaction.agentTransactionObject.building.destination" class="list-group-item"><strong>Destination: </strong>{{ transaction.agentTransactionObject.building.destination }}</li>
                        <li *ngIf="transaction.agentTransactionObject.building.localisation" class="list-group-item"><strong>Localisation: </strong>{{ transaction.agentTransactionObject.building.localisation }}</li>
                        <li *ngIf="transaction.agentTransactionObject.building.description" class="list-group-item"><strong>Description: </strong>{{ transaction.agentTransactionObject.building.description }}</li>
                    </div>
                    <div *ngSwitchCase="'soul'">
                        <li *ngIf="transaction.agentTransactionObject.soul.juridicalStatus" class="list-group-item"><strong>Juridical Status: </strong>{{ transaction.agentTransactionObject.soul.juridicalStatus }}</li>
                        <li *ngIf="transaction.agentTransactionObject.soul.sex" class="list-group-item"><strong>Gender: </strong>{{ transaction.agentTransactionObject.soul.sex }}</li>
                        <li *ngIf="transaction.agentTransactionObject.soul.name" class="list-group-item"><strong>Name: </strong>{{ transaction.agentTransactionObject.soul.name }}</li>
                    </div>
                    <div *ngSwitchCase="'movable'">
                        <li *ngIf="transaction.agentTransactionObject.movable.definition" class="list-group-item"><strong>Definition: </strong>{{ transaction.agentTransactionObject.movable.definition }}</li>
                        <li *ngIf="transaction.agentTransactionObject.movable.description" class="list-group-item"><strong>Description: </strong>{{ transaction.agentTransactionObject.movable.description }}</li>
                    </div>
                    <div *ngSwitchCase="'obligation'">
                        <li *ngIf="transaction.agentTransactionObject.obligation.nature" class="list-group-item"><strong>Nature: </strong>{{ transaction.agentTransactionObject.obligation.nature }}</li>
                        <li *ngIf="transaction.agentTransactionObject.obligation.subjects" class="list-group-item"><strong>Ssubjects: </strong>{{ transaction.agentTransactionObject.obligation.subjects }}</li>
                        <li *ngIf="transaction.agentTransactionObject.obligation.conditions" class="list-group-item"><strong>Conditions: </strong>{{ transaction.agentTransactionObject.obligation.conditions }}</li>
                    </div>
                </div>
            </div>
            <div *ngIf="transaction.counterAgentTransactionType">
                <li class="list-group-item"><strong>Counter Agent Transaction Object Type: </strong>{{ transaction.counterAgentTransactionType }}</li>
                <div [ngSwitch]="getCounterAgentTransactionObjectType(i)">
                    <div *ngSwitchCase="'money'">
                        <li *ngIf="transaction.counterAgentTransactionObject.money.rouble" class="list-group-item"><strong>Rouble: </strong>{{ transaction.counterAgentTransactionObject.money.rouble }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.money.altyn" class="list-group-item"><strong>Altyn: </strong>{{ transaction.counterAgentTransactionObject.money.altyn }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.money.dynga" class="list-group-item"><strong>Dynga: </strong>{{ transaction.counterAgentTransactionObject.money.dynga }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.money.chekhi" class="list-group-item"><strong>Chekhi: </strong>{{ transaction.counterAgentTransactionObject.money.chekhi }}</li>
                    </div>
                    <div *ngSwitchCase="'land'">
                        <li *ngIf="transaction.counterAgentTransactionObject.land.juridicalStatus" class="list-group-item"><strong>Juridical Status: </strong>{{ transaction.counterAgentTransactionObject.land.juridicalStatus }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.land.localisation" class="list-group-item"><strong>Localisation: </strong>{{ transaction.counterAgentTransactionObject.land.localisation }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.land.surface" class="list-group-item"><strong>Surface: </strong>
                            <ul class="list-group">
                                <li *ngIf="transaction.agentTransactionObject.land.surface.cheti" class="list-group-item"><strong>Cheti: </strong>{{ transaction.agentTransactionObject.land.surface.cheti }}</li>
                                <li *ngIf="transaction.agentTransactionObject.land.surface.sazheni" class="list-group-item"><strong>Sazheni: </strong>{{ transaction.agentTransactionObject.land.surface.sazheni }}</li>
                                <li *ngIf="transaction.agentTransactionObject.land.surface.arshin" class="list-group-item"><strong>Arshin: </strong>{{ transaction.agentTransactionObject.land.surface.arshin }}</li>
                            </ul>
                        </li>                        
                        <li *ngIf="transaction.counterAgentTransactionObject.land.population" class="list-group-item"><strong>Population: </strong>{{ transaction.counterAgentTransactionObject.land.population }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.land.construction" class="list-group-item"><strong>Construction: </strong>{{ transaction.counterAgentTransactionObject.land.construction }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.land.dependencies" class="list-group-item"><strong>Dependencies: </strong>{{ transaction.counterAgentTransactionObject.land.dependencies }}</li>
                    </div>
                    <div *ngSwitchCase="'building'">
                        <li *ngIf="transaction.counterAgentTransactionObject.building.destination" class="list-group-item"><strong>Destination: </strong>{{ transaction.counterAgentTransactionObject.building.destination }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.building.localisation" class="list-group-item"><strong>Localisation: </strong>{{ transaction.counterAgentTransactionObject.building.localisation }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.building.description" class="list-group-item"><strong>Description: </strong>{{ transaction.counterAgentTransactionObject.building.description }}</li>
                    </div>
                    <div *ngSwitchCase="'soul'">
                        <li *ngIf="transaction.counterAgentTransactionObject.soul.juridicalStatus" class="list-group-item"><strong>Juridical Status: </strong>{{ transaction.counterAgentTransactionObject.soul.juridicalStatus }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.soul.sex" class="list-group-item"><strong>Gender: </strong>{{ transaction.counterAgentTransactionObject.soul.sex }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.soul.name" class="list-group-item"><strong>Name: </strong>{{ transaction.counterAgentTransactionObject.soul.name }}</li>
                    </div>
                    <div *ngSwitchCase="'movable'">
                        <li *ngIf="transaction.counterAgentTransactionObject.movable.definition" class="list-group-item"><strong>Definition: </strong>{{ transaction.counterAgentTransactionObject.movable.definition }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.movable.description" class="list-group-item"><strong>Description: </strong>{{ transaction.counterAgentTransactionObject.movable.description }}</li>
                    </div>
                    <div *ngSwitchCase="'obligation'">
                        <li *ngIf="transaction.counterAgentTransactionObject.obligation.nature" class="list-group-item"><strong>Nature: </strong>{{ transaction.counterAgentTransactionObject.obligation.nature }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.obligation.subjects" class="list-group-item"><strong>Ssubjects: </strong>{{ transaction.counterAgentTransactionObject.obligation.subjects }}</li>
                        <li *ngIf="transaction.counterAgentTransactionObject.obligation.conditions" class="list-group-item"><strong>Conditions: </strong>{{ transaction.counterAgentTransactionObject.obligation.conditions }}</li>
                    </div>
                </div>
            </div>
            <li *ngIf="transaction.advancePayment" class="list-group-item"><strong>Advance Payment: </strong>{{ transaction.advancePayment }}</li>
            <li *ngIf="transaction.contractConditions" class="list-group-item"><strong>Contract Conditions: </strong>{{ transaction.contractConditions }}</li>
            <li *ngIf="transaction.contractDuration" class="list-group-item"><strong>Contract Duration: </strong>{{ transaction.contractDuration }}</li>
            <li *ngIf="transaction.forfeit" class="list-group-item"><strong>Forfeit (roubles): </strong>{{ transaction.forfeit }}</li>
        </ul>
    </ng-template>
    <h2>Accessories to Contract</h2>
    <div *ngIf="deed.whitnesses.length > 0">
        <h3>Whitnesses</h3>
        <ng-template ngFor let-whitness [ngForOf]="deed.whitnesses" let-i="index">
            <h4>Whitness {{ i + 1 }}</h4>
            <ul class="list-group">
                <li *ngIf="whitness.whitness.geogrStatus" class="list-group-item"><strong>Whitness {{ i + 1 }} Geogr Status: </strong>{{ whitness.whitness.geogrStatus }}</li>
                <li *ngIf="whitness.whitness.socialStatus" class="list-group-item"><strong>Whitness {{ i + 1 }} Social Status: </strong>{{ whitness.whitness.socialStatus }}</li>
                <li *ngIf="whitness.whitness.firstName" class="list-group-item"><strong>Whitness {{ i + 1 }} First Name: </strong>{{ whitness.whitness.firstName }}</li>
                <li *ngIf="whitness.whitness.patronyme" class="list-group-item"><strong>Whitness {{ i + 1 }} Patronyme: </strong>{{ whitness.whitness.patronyme }}</li>
                <li *ngIf="whitness.whitness.lastName" class="list-group-item"><strong>Whitness {{ i + 1 }} Last Name: </strong>{{ whitness.whitness.lastName }}</li>
                <li *ngIf="whitness.whitness.relatedTo" class="list-group-item"><strong>Whitness {{ i + 1 }} Related To: </strong>{{ whitness.whitness.relatedTo }}</li>
            </ul>
        </ng-template>
    </div>
    <div *ngIf="deed.sureties.length > 0">
        <h3>Sureties</h3>
        <ng-template ngFor let-surety [ngForOf]="deed.sureties" let-i="index">
            <h4>Surety {{ i + 1 }}</h4>
            <ul class="list-group">
                <li *ngIf="surety.surety.geogrStatus" class="list-group-item"><strong>Surety {{ i + 1 }} Geogr Status: </strong>{{ surety.surety.geogrStatus }}</li>
                <li *ngIf="surety.surety.socialStatus" class="list-group-item"><strong>Surety {{ i + 1 }} Social Status: </strong>{{ surety.surety.socialStatus }}</li>
                <li *ngIf="surety.surety.firstName" class="list-group-item"><strong>Surety {{ i + 1 }} First Name: </strong>{{ surety.surety.firstName }}</li>
                <li *ngIf="surety.surety.patronyme" class="list-group-item"><strong>Surety {{ i + 1 }} Patronyme: </strong>{{ surety.surety.patronyme }}</li>
                <li *ngIf="surety.surety.lastName" class="list-group-item"><strong>Surety {{ i + 1 }} Last Name: </strong>{{ surety.surety.lastName }}</li>
                <li *ngIf="surety.surety.relatedTo" class="list-group-item"><strong>Surety {{ i + 1 }} Related To: </strong>{{ surety.surety.relatedTo }}</li>
            </ul>
        </ng-template>
    </div>
    <div *ngIf="deed.scribe">
        <h3>Scribe</h3>
        <ul class="list-group">
            <li *ngIf="deed.scribe.geogrStatus" class="list-group-item"><strong>Scribe Geogr Status: </strong>{{ deed.scribe.geogrStatus }}</li>
            <li *ngIf="deed.scribe.socialStatus" class="list-group-item"><strong>Scribe Social Status: </strong>{{ deed.scribe.socialStatus }}</li>
            <li *ngIf="deed.scribe.firstName" class="list-group-item"><strong>Scribe First Name: </strong>{{ deed.scribe.firstName }}</li>
            <li *ngIf="deed.scribe.patronyme" class="list-group-item"><strong>Scribe Patronyme: </strong>{{ deed.scribe.patronyme }}</li>
            <li *ngIf="deed.scribe.lastName" class="list-group-item"><strong>Scribe Last Name: </strong>{{ deed.scribe.lastName }}</li>
            <li *ngIf="deed.scribe.relatedTo" class="list-group-item"><strong>Scribe Related To: </strong>{{ deed.scribe.relatedTo }}</li>
        </ul>
    </div>
    <div *ngIf="deed.otherParticipants.length > 0">
        <h3>Other Participants</h3>
        <ng-template ngFor let-otherParticipant [ngForOf]="deed.otherParticipants" let-i="index">
            <h4>Other Participant {{ i + 1 }}</h4>
            <ul class="list-group">
                <li *ngIf="otherParticipant.otherParticipant.role" class="list-group-item"><strong>Other Participant {{ i + 1 }} Role: </strong>{{ otherParticipant.otherParticipant.role }}</li>
                <li *ngIf="otherParticipant.otherParticipant.geogrStatus" class="list-group-item"><strong>Other Participant {{ i + 1 }} Geogr Status: </strong>{{ otherParticipant.otherParticipant.geogrStatus }}</li>
                <li *ngIf="otherParticipant.otherParticipant.socialStatus" class="list-group-item"><strong>Other Participant {{ i + 1 }} Social Status: </strong>{{ otherParticipant.otherParticipant.socialStatus }}</li>
                <li *ngIf="otherParticipant.otherParticipant.firstName" class="list-group-item"><strong>Other Participant {{ i + 1 }} First Name: </strong>{{ otherParticipant.otherParticipant.firstName }}</li>
                <li *ngIf="otherParticipant.otherParticipant.patronyme" class="list-group-item"><strong>Other Participant {{ i + 1 }} Patronyme: </strong>{{ otherParticipant.otherParticipant.patronyme }}</li>
                <li *ngIf="otherParticipant.otherParticipant.lastName" class="list-group-item"><strong>Other Participant {{ i + 1 }} Last Name: </strong>{{ otherParticipant.otherParticipant.lastName }}</li>
                <li *ngIf="otherParticipant.otherParticipant.relatedTo" class="list-group-item"><strong>Other Participant {{ i + 1 }} Related To: </strong>{{ otherParticipant.otherParticipant.relatedTo }}</li>
            </ul>
        </ng-template>
    </div>
    <h2>Registration</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Registration Date: </strong>{{ deed.registrationDate }}</li>
        <div *ngIf="deed.registrator">
            <h4>Registrator</h4>
            <li *ngIf="deed.registrator.firstName" class="list-group-item"><strong>Registrator First Name: </strong>{{ deed.registrator.firstName }}</li>
            <li *ngIf="deed.registrator.patronyme" class="list-group-item"><strong>Registrator Patronyme: </strong>{{ deed.registrator.patronyme }}</li>
            <li *ngIf="deed.registrator.lastName" class="list-group-item"><strong>Registrator Last Name: </strong>{{ deed.registrator.lastName }}</li>
            <li *ngIf="deed.registrator.relatedTo" class="list-group-item"><strong>Registrator Related To: </strong>{{ deed.registrator.relatedTo }}</li>
        </div>
        <h4>Fee</h4>
        <li *ngIf="deed.fee.rouble" class="list-group-item"><strong>Rouble: </strong>{{ transaction.counterAgentTransactionObject.money.rouble }}</li>
        <li *ngIf="deed.fee.altyn" class="list-group-item"><strong>Altyn: </strong>{{ transaction.counterAgentTransactionObject.money.altyn }}</li>
        <li *ngIf="deed.fee.dynga" class="list-group-item"><strong>Dynga: </strong>{{ transaction.counterAgentTransactionObject.money.dynga }}</li>
        <li *ngIf="deed.fee.chekhi" class="list-group-item"><strong>Chekhi: </strong>{{ transaction.counterAgentTransactionObject.money.chekhi }}</li>
        <li class="list-group-item"><strong>Collected: </strong>{{ deed.fee.collected }}</li>
    </ul>
    <div *ngIf="deed.verbatimCitations || deed.researcherNotes">
        <h2>Annexes</h2>
        <ul class="list-group">
            <div *ngIf="deed.verbatimCitations">
                <h3>Verbatim Citations</h3>
                <li class="list-group-item">{{ deed.verbatimCitations }}</li>
            </div>
            <div *ngIf="deed.researcherNotes">
                <h3>Researcher Notes</h3>
                <li class="list-group-item">{{ deed.researcherNotes }}</li>
            </div>
        </ul>
    </div>







</div>

