.label {
	font-weight: bold;
}

.form-data {
	font-size: 1.1em;
	padding: 0 10px;
}

md-card {
	font-size: 1.2em;
	text-align: center;
}

.edit-button {
  display: block;  
  position: fixed;
  top: 80px;
  right: 80px;
}

.edit-button>button:focus, .edit-button>button:active {
  outline: none !important;
}

.back-button {
  display: block;  
  position: fixed;
  top: 290px;
  right: 80px;
}

.back-button>button:focus, .back-button>button:active {
  outline: none !important;
}


.delete-button {
  display: block;  
  position: fixed;
  top: 150px;
  right: 80px;
}

.delete-button>button:focus, .delete-button>button:active {
  outline: none !important;
}

.download-button {
  display: block;  
  position: fixed;
  top: 220px;
  right: 80px;
}

.download-button>button:focus, .download-button>button:active {
  outline: none !important;
}