.label {
	font-weight: bold;
}

.form-data {
	font-size: 1.1em;
	padding: 0 10px;
}

md-card {
	font-size: 1.2em;
	text-align: center;
}


.back-button>button:focus, .back-button>button:active {
  outline: none !important;
}


.delete-button {
  background-color: #FFFFFF !important;
}

.delete-button>button:focus, .delete-button>button:active {
  outline: none !important;
}

.basic {
  background-color: #FFFFFF !important;
}

.download-button>button:focus, .download-button>button:active {
  outline: none !important;
}

:host .search-highlight{
  background-color: #F2E366;
}
