<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <div class="col-sm-offset-2 col-sm-10">
      <small class="text-danger" *ngIf="!isValid">{{question.label}} is required</small>
    </div>
    <div *ngSwitchCase="'textbox'" class="form-group">
      <label class="col-sm-2 control-label" [attr.for]="question.key">{{question.label}}</label>
      <div class="col-sm-10">
        <input class="form-control" [formControlName]="question.key" [id]="question.key" [type]="question.type">
      </div>
    </div>
    <div  *ngSwitchCase="'dropdown'" class="form-group">
      <label class="col-sm-2 control-label" [attr.for]="question.key">{{question.label}}</label>
      <div class="col-sm-10">
        <select class="form-control" [id]="question.key" [formControlName]="question.key">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </div>
    </div>
    <div *ngSwitchCase="'fieldset'">
      <fieldset class="col-sm-12" [formGroupName]="question.key">
        <legend class="col-sm-offset-2 col-sm-10">{{ question.label }}</legend>
        <div *ngFor="let opt of question.options" class="form-group">
          <label class="col-sm-2 control-label" [attr.for]="opt.key">{{ opt.label }}</label>
          <div class="col-sm-10">
            <input class="form-control" [formControlName]="opt.key" [id]="opt.key" [type]="opt.type">
          </div>     
        </div>
      </fieldset>
    </div>
  </div>
</div>
