<simple-notifications [options]="options"></simple-notifications>
<h1 class="page-header">Add New Deed</h1>
<form class="form-horizontal" [formGroup]="deedForm" (ngSubmit)="onSubmit()" novalidate>

	<!--DEED REFERENCES-->

	<h2 class="text-center bg-info">Deed References</h2>
	<div class="form-group">
		<label class="col-sm-2 control-label">Deed Code</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="deedCode">
			<small class="text-danger" *ngIf="deedForm.controls.deedCode.errors">This field is required</small>
			<button type="button" (click)="insertLastDeedCode()" class="btn btn-primary btn-xs pull-right">Insert the last Deed Code saved in the database</button>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Deed Reference</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="deedRef">
			<small class="text-danger" *ngIf="deedForm.controls.deedRef.errors">This field is required</small>
			<button type="button" (click)="insertLastDeedRef()" class="btn btn-primary btn-xs pull-right">Insert the last Deed Ref saved in the database</button>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Deed Date</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="deedDate">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Deed Name</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="deedName">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Deed Language</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="deedLanguage">
		</div>
	</div>

	<!-- CONTRACTING PARTIES -->
	<h2 class="text-center bg-info">Contracting Parties</h2>

	<!-- Main Agent -->
	<h3 class="text-center">Agent</h3>
	<div class="form-group">
		<label class="col-sm-2 control-label">Agent</label>
		<div class="col-sm-10">
			<select class="form-control" formControlName="agentSex" (change)="updateAgent()">
				<option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
      		</select>
		</div>
	</div>
	<div [ngSwitch]="getAgentSex()">
		<div *ngSwitchCase="'male'">
			<div formGroupName="agent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Geogr Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="geogrStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Social Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="socialStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="lastName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Related To</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="relatedTo">
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'female'">
			<div formGroupName="agent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Family Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="familyStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Related To</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="relatedTo">
					</div>
				</div>
				<div formGroupName="referentMale">
					<h4 class="text-center">Referent Male</h4>
					<div class="form-group">
						<label class="col-sm-2 control-label">Relationship To Agent</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relationshipToAgent">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Geogr Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="geogrStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="socialStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Patronyme</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="patronyme">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Related To</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relatedTo">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'body-corporate'">
			<div formGroupName="agent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Geogr Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="geogrStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Social Status</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="socialStatus" (change)="updateSocialStatusAgent()">
							<option *ngFor="let social of socialBody" [value]="social">{{social}}</option>
      					</select>
					</div>
				</div>
				<div *ngIf="updateSocialStatusAgent()" class="form-group">
					<label class="col-sm-2 control-label">Other Social status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="otherSocialStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Corporation Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="corporationName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Number of Participants</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="nbParticipants">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Names</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="names">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Co Agents -->
	<div formArrayName="coAgents">
		<div *ngFor="let coAgent of deedForm.controls.coAgents.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Co-Agent {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeCoAgent(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div class="form-group">
					<label class="col-sm-2 control-label">Co-Agent Gender</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="coAgentSex" (change)="updateCoAgent(i)">
							<option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
						</select>
					</div>
				</div>
				<div [ngSwitch]="getCoAgentSex(i)">
					<div *ngSwitchCase="'male'">
						<div formGroupName="coAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Geogr Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="geogrStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Social Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="socialStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="lastName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Related To</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="relatedTo">
								</div>
							</div>
						</div>
					</div>
					<div *ngSwitchCase="'female'">
						<div formGroupName="coAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Family Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="familyStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Related To</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="relatedTo">
								</div>
							</div>
							<div formGroupName="referentMale">
								<h4 class="text-center">Referent Male</h4>
								<div class="form-group">
									<label class="col-sm-2 control-label">Relationship To coAgent</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="relationshipToCoAgent">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Geogr Status</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="geogrStatus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Social Status</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="socialStatus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">First Name</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="firstName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Patronyme</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="patronyme">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Last Name</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="lastName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Related To</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="relatedTo">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngSwitchCase="'body-corporate'">
						<div formGroupName="coAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Geogr Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="geogrStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Social Status</label>
								<div class="col-sm-10">
									<select class="form-control" formControlName="socialStatus" (change)="updateSocialStatusCoAgent()">
										<option *ngFor="let social of socialBody" [value]="social">{{social}}</option>
									</select>
								</div>
							</div>
							<div *ngIf="updateSocialStatusCoAgent()" class="form-group">
								<label class="col-sm-2 control-label">Other Social status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="otherSocialStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Corporation Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="corporationName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Number of Participants</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="nbParticipants">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Names</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="names">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a (click)="addCoAgent()" style="cursor: default">Add a Co-Agent</a>
	</div>
	<div class="text-center">
		<a (click)="addCollectiveCoAgent()" style="cursor: default">Add a Collective Co-Agent</a>
	</div>
	<div *ngIf="collectiveCoAgentOn">
		<div formGroupName="collectiveCoAgent" class="panel panel-default">
			<div class="panel-heading">
				<span>Collective Co-Agent</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeCollectiveCoAgent()"></span>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Relation To Agent</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="relationToAgent" (change)="updateRelationToAgent()">
							<option *ngFor="let relation of relationtoagents" [value]="relation">{{relation}}</option>
						</select>
					</div>
				</div>
				<div *ngIf="updateRelationToAgent()" class="form-group">
					<label class="col-sm-2 control-label">Other Relation to Agent</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="otherRelationToAgent">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Number of Participants</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="numberOfParticipants">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Statuses and Names</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="statusesNames">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Counter Agent -->

	<h3 class="text-center">Counter Agent</h3>
	<div class="form-group">
		<label class="col-sm-2 control-label">Counter Agent</label>
		<div class="col-sm-10">
			<select class="form-control" formControlName="counterAgentSex" (change)="updateCounterAgent()">
          <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
      </select>
		</div>
	</div>
	<div [ngSwitch]="getCounterAgentSex()">
		<div *ngSwitchCase="'male'">
			<div formGroupName="counterAgent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Geogr Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="geogrStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Social Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="socialStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="lastName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Related To</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="relatedTo">
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'female'">
			<div formGroupName="counterAgent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Family Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="familyStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Related To</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="relatedTo">
					</div>
				</div>
				<div formGroupName="referentMale">
					<h4 class="text-center">Referent Male</h4>
					<div class="form-group">
						<label class="col-sm-2 control-label">Relationship To Counter Agent</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relationshipToCounterAgent">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Geogr Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="geogrStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="socialStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Patronyme</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="patronyme">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Related To</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relatedTo">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div *ngSwitchCase="'body-corporate'">
			<div formGroupName="counterAgent">
				<div class="form-group">
					<label class="col-sm-2 control-label">Geogr Status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="geogrStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Social Status</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="socialStatus" (change)="updateSocialStatusCounterAgent()">
							<option *ngFor="let social of socialBody" [value]="social">{{social}}</option>
      					</select>
					</div>
				</div>
				<div *ngIf="updateSocialStatusCounterAgent()" class="form-group">
					<label class="col-sm-2 control-label">Other Social status</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="otherSocialStatus">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Corporation Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="corporationName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Number of Participants</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="nbParticipants">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Names</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="names">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Co Counter Agents-->
	<div formArrayName="coCounterAgents">
		<div *ngFor="let coCounterAgent of deedForm.controls.coCounterAgents.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Co-Counter Agent {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeCoCounterAgent(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div class="form-group">
					<label class="col-sm-2 control-label">Co-Agent Gender</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="coCounterAgentSex" (change)="updateCoCounterAgent(i)">
							<option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
						</select>
					</div>
				</div>
				<div [ngSwitch]="getCoCounterAgentSex(i)">
					<div *ngSwitchCase="'male'">
						<div formGroupName="coCounterAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Geogr Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="geogrStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Social Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="socialStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="lastName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Related To</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="relatedTo">
								</div>
							</div>
						</div>
					</div>
					<div *ngSwitchCase="'female'">
						<div formGroupName="coCounterAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Family Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="familyStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Related To</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="relatedTo">
								</div>
							</div>
							<div formGroupName="referentMale">
								<h4 class="text-center">Referent Male</h4>
								<div class="form-group">
									<label class="col-sm-2 control-label">Relationship To coAgent</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="relationshipToCoCounterAgent">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Geogr Status</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="geogrStatus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Social Status</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="socialStatus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">First Name</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="firstName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Patronyme</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="patronyme">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Last Name</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="lastName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Related To</label>
									<div class="col-sm-10">
										<input class="form-control" formControlName="relatedTo">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngSwitchCase="'body-corporate'">
						<div formGroupName="coCounterAgent">
							<div class="form-group">
								<label class="col-sm-2 control-label">Geogr Status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="geogrStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Social Status</label>
								<div class="col-sm-10">
									<select class="form-control" formControlName="socialStatus" (change)="updateSocialStatusCoCounterAgent()">
							<option *ngFor="let social of socialBody" [value]="social">{{social}}</option>
      					</select>
								</div>
							</div>
							<div *ngIf="updateSocialStatusCoCounterAgent()" class="form-group">
								<label class="col-sm-2 control-label">Other Social status</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="otherSocialStatus">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Corporation Name</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="corporationName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Patronyme</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="patronyme">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Number of Participants</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="nbParticipants">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Names</label>
								<div class="col-sm-10">
									<input class="form-control" formControlName="names">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="text-center">
		<a (click)="addCoCounterAgent()" style="cursor: default">Add a Co-Counter Agent</a>
	</div>
	<div class="text-center">
		<a (click)="addCollectiveCoCounterAgent()" style="cursor: default">Add a Collective Co-Counter Agent</a>
	</div>
	<div *ngIf="collectiveCoCounterAgentOn">
		<div formGroupName="collectiveCoCounterAgent" class="panel panel-default">
			<div class="panel-heading">
				<span>Collective Co Counter-Agent</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeCollectiveCoCounterAgent()"></span>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Relation To Counter Agent</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="relationToCounterAgent" (change)="updateRelationToCounterAgent()">
							<option *ngFor="let relation of relationtoagents" [value]="relation">{{relation}}</option>
						</select>
					</div>
				</div>
				<div *ngIf="updateRelationToCounterAgent()" class="form-group">
					<label class="col-sm-2 control-label">Other Relation to Counter Agent</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="otherRelationToCounterAgent">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Number of Participants</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="numberOfParticipants">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Statuses and Names</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="statusesNames">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TRANSACTION -->

	<h2 class="text-center bg-info">Transaction</h2>

	<div formArrayName="transactions">
		<div *ngFor="let transaction of deedForm.controls.transactions.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Transaction {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" *ngIf="deedForm.controls.transactions.controls.length > 1" (click)="removeTransaction(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div class="form-group">
					<label class="col-sm-2 control-label">What the Agent does ?</label>
					<div class="col-sm-10">
						<select class="form-control" formControlName="agentAction" (change)="updateAgentAction(i)">
							<option *ngFor="let action of agentActionsList" [value]="action">{{ action }}</option>
						</select>
					</div>
				</div>
				<div [ngSwitch]="selectedAction">
					<div *ngSwitchCase="'what'">
						<div class="form-group">
							<label class="col-sm-2 control-label">What ?</label>
							<div class="col-sm-10">
								<select class="form-control" formControlName="agentTransactionObject" (change)="updateAgentTransactionObject(i)">
									<option *ngFor="let object of agentTransactionObjectList" [value]="object">{{ object }}</option>
								</select>
							</div>
						</div>
					</div>
					<div *ngSwitchCase="'whom'">
						<div class="form-group">
							<label class="col-sm-2 control-label">Whom ?</label>
							<div class="col-sm-10">
								<select class="form-control" formControlName="agentAction" (change)="updateAgentAction(i)">
									<option *ngFor="let action of agentActionsList" [value]="action">{{ action }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Advance Payment</label>
					<div class="col-sm-10">
						<label class="radio-inline">
							<input type="radio" formControlName="advancePayment" value="yes"> Yes
						</label>
						<label class="radio-inline">
							<input type="radio" formControlName="advancePayment" value="no"> No
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contract Conditions</label>
					<div class="col-sm-10">
						<textarea class="form-control" formControlName="contractConditions"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Contract Duration</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="contractDuration">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Forfeit (roubles)</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="forfeit">
					</div>
				</div>
			</div>
			<!-- PANEL-BODY END -->
		</div>
		<!-- NGFOR END -->
	</div>
	<!-- FORMARRAYNAME TRANSACTIONS END  -->


	<div class="text-center">
		<a (click)="addTransaction()" style="cursor: default">Add another transaction</a>
	</div>

	<!-- ACCESSORIES TO CONTRACT -->
	<h2 class="text-center bg-info">Accessories to contract</h2>
	<div class="text-center">
		<a (click)="addWhitness()" style="cursor: default">Add a Whitness</a>
	</div>
	<div formArrayName="whitnesses">
		<div *ngFor="let coAgent of deedForm.controls.whitnesses.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Whitness {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeWhitness(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div formGroupName="whitness">
					<div class="form-group">
						<label class="col-sm-2 control-label">Geogr Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="geogrStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="socialStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Patronyme</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="patronyme">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Related To</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relatedTo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a (click)="addSurety()" style="cursor: default">Add a Surety</a>
	</div>
	<div formArrayName="sureties">
		<div *ngFor="let coAgent of deedForm.controls.sureties.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Surety {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeSurety(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div formGroupName="surety">
					<div class="form-group">
						<label class="col-sm-2 control-label">Geogr Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="geogrStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="socialStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Patronyme</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="patronyme">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Related To</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relatedTo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<a (click)="addScribe()" style="cursor: default">Add a Scribe</a>
	</div>
	<div *ngIf="scribeOn">
		<div formGroupName="scribe">
			<div class="panel-heading">
				<span>Scribe</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeScribe()"></span>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Geogr Status</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="geogrStatus">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Social Status</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="socialStatus">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="firstName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Patronyme</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="patronyme">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="lastName">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Related To</label>
				<div class="col-sm-10">
					<input class="form-control" formControlName="relatedTo">
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<a (click)="addOtherParticipant()" style="cursor: default">Add another Participant</a>
	</div>
	<div formArrayName="otherParticipants">
		<div *ngFor="let coAgent of deedForm.controls.otherParticipants.controls; let i=index" class="panel panel-default">
			<div class="panel-heading">
				<span>Other Participant {{i + 1}}</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeOtherParticipant(i)"></span>
			</div>
			<div class="panel-body" [formGroupName]="i">
				<div formGroupName="otherParticipant">
					<div class="form-group">
						<label class="col-sm-2 control-label">Role</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="role">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Geogr Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="geogrStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Social Status</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="socialStatus">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">First Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="firstName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Patronyme</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="patronyme">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Last Name</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Related To</label>
						<div class="col-sm-10">
							<input class="form-control" formControlName="relatedTo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- REGISTRATION -->
	<h2 class="text-center bg-info">Registration</h2>
	<div class="form-group">
		<label class="col-sm-2 control-label">Registration Date</label>
		<div class="col-sm-10">
			<input class="form-control" formControlName="registrationDate">
		</div>
	</div>
	<div class="text-center">
		<a (click)="addRegistrator()" style="cursor: default">Add a Registrator</a>
	</div>
	<div *ngIf="registratorOn">
		<div formGroupName="registrator" class="panel panel-default">
			<div class="panel-heading">
				<span>Registrator</span>
				<span class="glyphicon glyphicon-remove pull-right" (click)="removeRegistrator()"></span>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="firstName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Patronyme</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="patronyme">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="lastName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Related To</label>
					<div class="col-sm-10">
						<input class="form-control" formControlName="relatedTo">
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3 class="text-center">Fee</h3>
	<div formGroupName="fee">
		<div class="form-group">
			<label class="col-sm-2 control-label">Amount</label>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" formControlName="rouble">
					</div>
					<div class="col-sm-1 small-label">roubles</div>
					<div class="col-sm-2">
						<input class="form-control" formControlName="altyn">
					</div>
					<div class="col-sm-1 small-label">altyn</div>
					<div class="col-sm-2">
						<input class="form-control" formControlName="dynga">
					</div>
					<div class="col-sm-1 small-label">dynga</div>
					<div class="col-sm-1">
						<div class="checkbox">
							<label>
								<input type="checkbox" formControlName="chekhi"> chekhi
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Collected</label>
			<div class="col-sm-10">
				<label class="radio-inline">
					<input type="radio" formControlName="collected" value="yes"> Yes
				</label>
				<label class="radio-inline">
					<input type="radio" formControlName="collected" value="no"> No
				</label>
			</div>
		</div>
	</div>

	<!-- ANNEXES -->
	<h2 class="text-center bg-info">Annexes</h2>
	<div class="form-group">
		<label class="col-sm-2 control-label">Verbatim Citations</label>
		<div class="col-sm-10">
			<textarea class="form-control" formControlName="verbatimCitations"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Researcher Notes</label>
		<div class="col-sm-10">
			<textarea class="form-control" formControlName="researcherNotes"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" formControlName="incomplete">Incomplete</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<button type="submit" [disabled]="deedForm.invalid" class="btn btn-info center-block">Save the deed</button>
			</div>
		</div>
	</div>

</form>

<h2>Current Json Document</h2>
<pre>{{ deedForm.value | json }}</pre>