.tooltip {
  background-color: #000000 !important;
  font-size: 1em !important;
}

.labelTrue {
  color: #E91E63;
}

.slideLabel {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin-right: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  flex-direction: row;
  align-items: center;
}