.tooltip {
  background-color: #000000 !important;
  font-size: 1em !important;
}

.labelTrue {
  color: #E91E63;
}

.slideLabel {
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin: 0 8px 8px 0;
}