<div class="container">
  <div *ngIf="auth.isAuthenticated()" class="text-center">
    <h2>You are logged in!</h2>
    <h2>You can now <a href="#" [routerLink]="['/deed/add']">add</a> a new deed, <a href="#" [routerLink]="['/list']">view</a> the lists of all deeds already registered or <a href="" [routerLink]="['/search']">search</a> in the database</h2>
  </div>
  <div *ngIf="!auth.isAuthenticated()" class="text-center">
    <h2>Welcome to the Deed App</h2>
    <p>You are not logged in! Please <a href="#" (click)="auth.login()">Log In</a> to continue.</p>
  </div>
</div>
