<app-navbar></app-navbar>
<simple-notifications [options]="options"></simple-notifications>
<form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="updateFirstName()" novalidate>
  <div class="container main-container">
    <!--DEED REFERENCES-->
    <div class="card shadow mb-3">
      <div class="card-body">
        <table>
          <tbody>
        <ng-template ngFor let-element [ngForOf]="firstNamesSorted" let-i="index">
          <tr>
            <td>
              {{ i }}
            </td>
            <td>
              {{ element.name }}
            </td>
            <td>
                {{ element.sex }}
              </td>
              <td>
                  {{ element.deedId }}
                </td>
            <td>
              <button mat-raised-button type="submit">UPDATE</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
      </table>
      </div>
    </div>
  </div>
</form>
