<form (keydown.enter)="$event.preventDefault()" [formGroup]="noteForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="container">
        <h2 mat-dialog-title>Notes</h2>
        <mat-dialog-content>
            <div *ngIf="notes">
                <div *ngFor="let note of notes">
                    <p class="info">{{ note.user }} | {{ note.date | date:'shortDate' }}</p>
                    <p>{{ note.content }}</p>
                </div>
            </div>
        </mat-dialog-content>
        <div class="form-group">
            <textarea rows="3" class="form-control" formControlName="content" placeholder="Write your note here"></textarea>
        </div>
        <mat-dialog-actions>
                <button mat-raised-button type="submit" color="primary">SAVE</button>
                <button mat-raised-button mat-dialog-close type="button" color="primary" (click)="onCloseClick()">CLOSE</button>
        </mat-dialog-actions>
    </div>
</form>