<app-navbar></app-navbar>
<app-note></app-note>
<div class="container main-container">
  <form class="form-horizontal" [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidat>
    <div class="actions" *ngIf="results">
        <button mat-fab type="button" color="accent" (click)="clearResults()" matTooltip="Clear results" matTooltipPosition="before">
          <mat-icon class="mat-24" style="color:white" aria-label="Clear">clear</mat-icon>
        </button>
    </div>
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="form-group col">
          <label>Search a term in all fields</label>
          <div class="input-group">
            <input class="form-control" formControlName="searchTerm">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="results">
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="text-center">
          <h4 *ngIf="results.length > 1">{{ results.length }} deeds found in the database for "{{ term }}"</h4>
          <h4 *ngIf="results.length === 1">{{ results.length }} deed found in the database for "{{ term }}"</h4>
          <h4 *ngIf="results.length === 0">No match found in the database for "{{ term }}"</h4>
          
          <hr class="mt-2 mb-2">
        </div>
  
        <div class="deeds">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Deed Code</th>
                  <th>Deed Ref</th>
                  <th>Deed Date<br><em>Registration Date</em></th>
                  <th>Deed Name</th>
                  <th>Agent Name</th>
                  <th>Complete</th>
  
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let result of results'>
                  <td>{{ result.deedCode }}</td>
                  <td>{{ result.deedRef }}</td>
                  <td><span *ngIf="deed.deedDate.day">{{deed.deedDate.day}}-</span><span *ngIf="deed.deedDate.month">{{deed.deedDate.month}}-</span><span *ngIf="deed.deedDate.year">{{deed.deedDate.year}}</span><span *ngIf="!result.deedDate && result.registrationDate"><em>{{ result.registrationDate }}</em></span></td>
                  <td><span *ngIf="result.deedName">{{ result.deedName }}</span></td>
                  <td><span *ngIf="result.agent"><span *ngIf="result.agent.firstName">{{ result.agent.firstName }}</span> <span *ngIf="result.agent.lastName">{{ result.agent.lastName }}</span> <span *ngIf="result.agent.corporationName">{{ result.agent.corporationName }}</span></span></td>
                  <td style="text-align:center"><mat-icon *ngIf="result.complete" class="mat-24">check</mat-icon></td>
                  <td>
                    <button mat-raised-button color="primary" routerLink="/deed/{{ result._id }}" [queryParams]="{resultFor: term}">Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>
    
   