.input-group-btn .btn-primary {
    background-color: #3F51B5;
    border-color: #3F51B5;
}

.clear-button {
    background-color: #FFFFFF;
  }
  
  .clear-button>button:focus, .clear-button>button:active {
    outline: none !important;
  }