@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 12px;
}

.main-container {
  padding-top: 80px;
}

.mat-tab-label {
  min-width: 1px !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.container {
  width: 80%;
}

button {
  outline: none !important;
}

.shadow {
  border-radius: 1px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
}

.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border: 1.5px solid #5cb3fd;
  outline: none;
}

label {
  font-weight: bold;
}

.navbar {
  background-color: #3F51B5;
}

button:focus,
button:active {
  outline: none !important;
}

.actions {
  position: fixed;
  top: 11%;
  left: 90%;
}

.action-button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
}

/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */

app-root:empty+.loading {
  opacity: 1;
  z-index: 100;
}

.loader {
  color: #000000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*!
 * Material Design for Bootstrap 4
 * Version: MDB PRO 4.4.1
 *
 *
 * Copyright: Material Design for Bootstrap
 * http://mdbootstrap.com/
 *
 * Read the license: http://mdbootstrap.com/license/
 *
 *
 * Documentation: http://mdbootstrap.com/
 *
 * Getting started: http://mdbootstrap.com/getting-started/
 *
 * Tutorials: http://mdbootstrap.com/bootstrap-tutorial/
 *
 * Templates: http://mdbootstrap.com/templates/
 *
 * Support: http://mdbootstrap.com/forums/forum/support/
 *
 * Contact: office@mdbootstrap.com 
 *
 * Atribution: Animate CSS, Twitter Bootstrap, Materialize CSS, Normalize CSS, Waves JS, WOW JS, Toastr, Chart.js , Hammer.js
 *
 */

/*** Global ***/

.z-depth-0,
.modal-dialog.cascading-modal.modal-avatar .modal-header,
.card.card-cascade.wider,
.colorful-select .dropdown-content li.disabled.active span,
.colorful-select .dropdown-content li:disabled.active span,
.colorful-select .dropdown-content li.optgroup.active span,
.colorful-select .dropdown-content li.disabled a:hover,
.colorful-select .dropdown-content li.disabled span:hover,
.colorful-select .dropdown-content li:disabled a:hover,
.colorful-select .dropdown-content li:disabled span:hover,
.colorful-select .dropdown-content li.optgroup a:hover,
.colorful-select .dropdown-content li.optgroup span:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.z-depth-1,
.jumbotron,
.author-box,
.navbar,
.badge,
.chip,
.btn,
.card:not([class*="card-outline-"]),
.pagination .active .page-link,
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
.social-list,
.counter,
.md-pills .nav-link.active,
.card.card-cascade.wider .card-body,
.card-wrapper .front,
.card-wrapper .back,
.dropdown-content,
.side-nav,
.section-blog-fw .view,
#toast-container>div,
.pricing-card .price .version {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half,
.btn:hover,
.btn:active,
.btn:focus,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
ul.instagram-photos li img,
.media .media-left img,
.btn-floating,
.nav-tabs,
.md-pills .nav-link.active:hover,
.card.card-cascade.wider.reverse .card-body,
.card.card-cascade.card-avatar img,
.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:active,
.colorful-select .dropdown-content li.active span,
.comments-list .badge,
.reply-form .badge,
.btn-floating.btn-flat.active,
.picker__box .picker__table .picker__day--selected,
.picker__box .picker__table .picker__day--selected:hover,
.picker__box .picker__table .picker--focused,
.pricing-card .header,
.form-header {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2,
.modal-dialog.cascading-modal.modal-avatar .modal-header img,
.btn-floating:hover,
.card.card-cascade .view,
.card-overlay,
.colorful-select .dropdown-content li a:hover,
.colorful-select .dropdown-content li span:hover,
.comments-list img,
.reply-form img,
.testimonial-carousel .testimonial .avatar img {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  -webkit-transition: -webkit-box-shadow 0.55s;
  transition: -webkit-box-shadow 0.55s;
  transition: box-shadow 0.55s;
  transition: box-shadow 0.55s, -webkit-box-shadow 0.55s;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.hoverable:hover {
  -webkit-transition: -webkit-box-shadow 0.45s;
  transition: -webkit-box-shadow 0.45s;
  transition: box-shadow 0.45s;
  transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed !important;
}

.list-group .list-group-item,
.jumbotron,
.author-box,
.navbar-toggler,
.navbar,
.badge {
  border-radius: 2px;
}

.flex-center ul,
.card-overlay ul,
.section.team-section .avatar ul,
.testimonial-carousel .testimonial .avatar ul,
.card .card-circle ul {
  list-style-type: none;
  padding: 0;
}

.media .avatar-sm {
  width: 56px;
  border-radius: 50%;
}
